
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f9ff;
}

.header {
  background: linear-gradient(to right, #0077b6, #00b4d8);
  color: #fff;
  padding: 22px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
  font-size: 1.9rem;
  letter-spacing: 1px;
}


.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 22px;
  position: relative;
  padding-bottom: 4px;
  transition: 0.3s;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #caf0f8;
  transition: 0.3s;
}

.menu a:hover::after {
  width: 100%;
}

.logout {
  background: hsl(217, 67%, 48%);
  padding: 6px 14px;
  border-radius: 20px;
}


.admin {
  padding: 60px 20px;
  text-align: center;
}

.admin h3 {
  margin-bottom: 15px;
  font-size: 1.6rem;
}

.admin h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #00b4d8;
  margin: 12px auto 40px;
  border-radius: 10px;
}


.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}


.box {
  background: #fff;
  width: 240px;
  padding: 35px 20px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.35s;
  position: relative;
  overflow: hidden;
  font-size: 15px;
}


.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 2px;
  background: linear-gradient(to bottom right, #0077b6, #00b4d8);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}


.box:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,180,216,0.35);
}


.box span {
  display: block;
  font-size: 28px;
  margin-top: 10px;
  color: #0077b6;
  font-weight: bold;
}
